*{
    margin: 0;
}
.main{
    height: 100vh;
    background-image: url(images/dark-new-york-city-background-sxhron2gyghqwqni.webp);
    color: white;
    background-repeat: no-repeat;
    
}
header{
    justify-content: space-between;
    align-items: center;  
}
header .logo{
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-left:23%;
    margin-top: 3%;
}
header .nav-links li {
    display: inline-block;
}
    header .nav-links {
        display: inline-block;
        margin-left: 25%;
}
header .nav-links a {
    color: #fff;
    text-decoration: none;
    
}
.fa-solid{
    margin-left: 20px;
}
hr{
    width: 60%;
    margin: auto;
    
}
.first{
    margin-top: 30%;
    
    
}
.first-item1 {
    display: inline-block;
    width: 20%;
    margin-left: 10%;
    text-align: center;
}
.first-item2 {
    display: inline-block;
    width: 20%;
    margin: 5%;
    text-align: center;
}
.first-item3 {
    display: inline-block;
    width: 20%;
    margin-right: 5%;
    text-align: center;
}
.sub2{
    width: 60%;
    margin-top: 5%;
    margin-left:0 ;
}

.Dont-miss{
    font-weight: bold;
    /* display: inline-block; */
    margin-left:15%;
    display: flex;
    align-items: center;
}
.Dont-miss-links a{
    color: gray;
    text-decoration: none;
    
}
.Dont-miss-links li{
    display: inline-block;
    
}
.Dont-miss-links{
    display: inline-block;
}
.articles{
    margin-top: 5%;
    margin-left: 20%;
    width: 90%;
     height: 40rem;
    /* background-color: aqua; */
     display: flex; 
}
.part1{
    width: 50%;
    /* background-color: blueviolet; */
    /* height: 100%; */
    
    border: 1px solid gray;
    /* display: inline-block; */
    
   

}
.part1 img{
    width: 100%;
}
.part1 h2{
    text-align: center;
    margin-top: 5%;
    
}
.part1 p{
    margin-top: 4%;
    text-align: left;
    font-size: 18px;
    color: gray;
    padding: 15px;
}
.part2{
    width: 50%;
    border: 1px solid gray;
    margin-left: 5%;
    display:inline-block; 
    height: 100%;
    border:none;
}
.part2 img{
    width: 30%;
     height: 100%; 
     
    
}
.part2 p{
 color: grey;
    
}
.part2 h3{
 
    

}
.part2img1{
    border: 1px solid gray;
    height:24%;
}
.part2img2{
    border: 1px solid gray;
    height: 24%;
    margin-top: 1.5%;
}
.part2img3{
    border: 1px solid gray;
    height: 24%;
    margin-top: 1.5%;
}
.part2img4{
    border: 1px solid gray;
    height: 24%;
    margin-top: 1.5%;
}
.part2 img{
    object-fit: cover;
}
.content{
    display: inline-block;
    width: 70%;
    margin-left: 32%;
}
.about-world{
    margin-left:74rem ;
    border-left: 1px solid gray;
    width: 40%;
    background-color: aqua;
    display: flex;
    justify-content: center;
}
  
